body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-bar-container {
  display: flex;
  align-items: center;
}

.search-bar-input {
  margin-left: 8px;
  flex: 1;
}

.search-bar-icon {
  padding: 10px;
}

.table-container {
  width: 100%; 
  table-layout: fixed; 
}

.action-cell {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  width: 100%;
}

.tableCell {
  width: "150px";
}

.actionCell {
  display: flex;
  justify-content: flex-end;
}

.saveIconButton {
  margin-left: "8px";
}

.pagination {
  width: "100%";
}
